<!DOCTYPE html>
<html lang="en-us">
<head>
    {% set title='Project Setup' %}
    {% include '_head.html' %}
    <link href="{{ url_for('css', path='pages/project_setup.css') }}" rel="stylesheet"/>
</head>
<body onload="redirect_if_cookie_is_missing(true, true);
        updateWizardStepVisibility(true, true, true);
        load_previous_data('project_setup?project_id={{ project_id }}');
        show_email_and_project_in_navbar({{ project_id }});">
{% include '_navbar.html' %}
{% include '_wizard.html' %}
<main>
    <section class="dashboard" style="height: auto">
    <div class="chart" style="height: auto ; padding-bottom: 10px; max-height: 350px">
        <div class="chart__header">
            <a class="title"></a>
        </div>
        <div class="row" style="height: auto">
            <div class="col-md-6" style="height: auto">
                <form>
                    <div class="input-item">
                        <label for="projectName" class="form-label">
                            Project Name
                        </label>
                        <input type="text" maxlength="60" class="form-control" id="projectName" placeholder="Name" value="Off-Grid System" required />
                    </div>
                    <div class="input-item">
                        <label for="nDays" class="form-label">Simulation Period
                            <span class="icon icon-question" data-bs-toggle="tooltip" title="Number of days in the modeling period for the unit commitment of the energy converters. Nonetheless, for economic calculations, the project lifetime is used."></span>
                        </label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="nDays" placeholder="Number of days" value="{{ max_days }}" min="28" max="{{ max_days }}" step="1" required />
                            <span class="input-group-text">Days</span>
                        </div>
                    </div>
                    <div class="input-item optional">
                        <label for="projectDescription" class="form-label">Project Description</label>
                        <textarea class="form-control custom-textarea-height" maxlength="200" id="projectDescription" placeholder="Description" style="height: 120px;">Simulation and optimization of power supply and grid layout for an off-grid system in a rural settlement.</textarea>
                    </div>
                </form>
            </div>

            <div class="col-md-6" style="height: auto">
                <form>
                    <div class="input-item">
                        <label for="interestRate" class="form-label">
                            Interest Rate
                            <span class="icon icon-question" data-bs-toggle="tooltip" title="The interest rate in investment calculations signifies the cost of capital and the potential return from an alternative investment of similar risk. It helps express the time value of money, crucial for determining the present value of future cash flows. This assists in evaluating and comparing investment opportunities. Default value of 12.3% is taken from World Bank reported average lending interest rate data of 2022. Please make sure to check this value for your project."></span>
                        </label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="interestRate" placeholder="Interest" value="12.3" min="0" step="0.01" required />
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                    <div class="input-item">
                        <label for="projectLifetime" class="form-label">
                            Project Lifetime
                            <span class="icon icon-question" data-bs-toggle="tooltip" title="The period during which the off grid will be in operation. Components whose lifetime is below that of the project lifetime must be replaced during operation, and this replacement must be taken into account in the cost calculation. In addition, the residual value of the components is determined at the end of the project lifetime."></span>
                        </label>
                        <div class="input-group">
                            <input type="number" class="form-control" min="1" max="35" step="1" id="projectLifetime" placeholder="Lifetime" value="25" required />
                            <span class="input-group-text">Years</span>
                        </div>
                    </div>
                </form>
                        <label for="projectName" class="form-label">Planning Steps
                        <span class="icon icon-question" data-bs-toggle="tooltip" title="Offgridplanner was developed to guide users through the entire planning process of an off-grid system, from demand estimation and spatial grid optimization to design optimization and unit commitment of energy converters. However, individual planning steps can be skipped if needed; simply deselect the relevant options accordingly."></span>
                        </label>
        <div class="form-control" style="background-color: var(--bcc)">
        <div style="display: flex; align-items: center; margin-bottom: 10px; margin-top: 10px">
            <span style="font-weight: normal; color: black; flex-grow: 1;">Demand Estimation</span>
            <label class="switch">
                <input type="checkbox" id="toggleswitch0" checked>
                <span class="slider round"></span>
            </label>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <span style="font-weight: normal; color: black; flex-grow: 1;">Spatial Grid Optimization</span>
            <label class="switch">
                <input type="checkbox" id="toggleswitch1" checked>
                <span class="slider round"></span>
            </label>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <span style="font-weight: normal; color: black; flex-grow: 1;">Energy Converter Design Optimization</span>
            <label class="switch">
                <input type="checkbox" id="toggleswitch2" checked>
                <span class="slider round"></span>
            </label>
        </div>
        </div>
            </div>
        </div>
    </div>
</section>
{% include '_warningBox.html' %}
</main>
{% include '_footer.html' %}
</body>
{% include '_scripts.html' %}
<script>let project_id = "{{ project_id }}"</script>
<script src="{{ url_for('js', path='pages/project_setup.js') }}"></script>
<script src="{{ url_for('js', path='backend_communication.js') }}"></script>
</html>
