<!DOCTYPE html>
<html lang="en-us">
<head>
    {% set title='Tutorial' %}
    {% include '_head.html' %}
    <style>
        /* Add any necessary styles here */
        /* Override wizard styles to make it visible */
        .wizard {
            visibility: visible !important;
            opacity: 1 !important;
            transition: none !important;
        }

        /* Use data-step-number to display numbering */
        .wizard__steps li::before {
            content: attr(data-step-number) ".";
            margin-right: 5px;
            font-weight: bold;
            color: WHITE;
        }

        /* Style for active step */
        .wizard__steps li.active::before {
            color: WHITE;
        }

        /* Ensure steps are displayed correctly */
        .wizard__steps li {
            display: inline-block !important;
        }

        /* Optional: Adjust step text color */
        .wizard__steps li a {
            color: inherit !important;
            text-decoration: none;
        }


        .dashboard {
            display: none;
            margin: 0 auto;
            max-width: 1200px; /* Adjust as needed */
            padding: 20px;
        }
        .dashboard.active {
            display: block;
        }

        /* Footer styles */
        .step-footer {
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }
        .step-footer__left,
        .step-footer__center,
        .step-footer__right {
            flex: 1;
            text-align: center;
        }
        /* Button styles */
        .btn {
            padding: 5px 10px;
            margin: 0 5px;
            text-decoration: none;
            color: #fff;
            background-color: #007bff;
            border: none;
            cursor: pointer;
        }
        .btn--hollow {
            background-color: transparent;
            color: #007bff;
            border: 1px solid #007bff;
        }
    </style>
</head>
<body onload="toggleDropdownMenuItems();" style="text-align: left;">
{% include '_navbar_public.html' %}
<main>
    <section>
        <div class="container" style="text-align: justify">
            <div class="row">
                <div class="col-12" style="padding-left: 6rem; padding-right: 6rem;">
                    <h1>Training Tasks</h1>
                    <p>
                        Five tasks are presented that initially explain the basic functions of the tool. As the tasks progress, advanced options are introduced, such as identifying consumers with high connection costs, allowing a certain level of undersupply instead of sizing for peak demand to reduce system costs, and the scenario where specific components are already in place and need to be complemented with additional energy converters.
                    </p>
                    <p id="paragraph_register_suggestion">
                        It is recommended to create an account first. To do so, click on the <i>'Log in/Sign up'</i> button in the upper right area. A registration form will appear; there, click on <i>'Register here'</i> and follow the registration process.
                    </p>
                    <p>
                        It is recommended to create a new project for each task and name it accordingly, for example, <i>'Training Task 1'</i>.
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <section class="wizard" id="wizard">
        <div>
            <div class="wizard__steps">
                <ul id="wiz">
                    <li id="wizElement1" data-step-number="1" class="active" onclick="showTask(1);">
                        <a href="javascript:void(0);">Task One</a>
                    </li>
                    <li id="wizElement2" data-step-number="2" onclick="showTask(2);">
                        <a href="javascript:void(0);">Task Two</a>
                    </li>
                    <li id="wizElement3" data-step-number="3" onclick="showTask(3);">
                        <a href="javascript:void(0);">Task Three</a>
                    </li>
                    <li id="wizElement4" data-step-number="4" onclick="showTask(4);">
                        <a href="javascript:void(0);">Task Four</a>
                    </li>
                    <li id="wizElement5" data-step-number="5" onclick="showTask(5);">
                        <a href="javascript:void(0);">Task Five</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
<section id="task1" class="dashboard active">
        <!-- Accordion for Task One -->
        <div class="accordion" id="accordionTask1" style="margin-top: 12px">
            <!-- Accordion Item 1 -->
            <div class="accordion-item" style="padding: 10px">
                <h2 class="accordion-header" id="task1HeadingOne">
                    <button class="accordion-button no-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#task1CollapseOne" aria-expanded="true" aria-controls="task1CollapseOne">
                        Task Description
                    </button>
                </h2>
                <div id="task1CollapseOne" class="accordion-collapse collapse show" aria-labelledby="task1HeadingOne" data-bs-parent="#accordionTask1">
                    <div class="accordion-body">
                            <p>
                                An <i>off-grid system</i> is to be planned for the Nigerian locality of <i>Ikah Ichala</i> (7.699508, 7.710631), to which all buildings in the village will be connected. The <i>drawing tools</i> are used to mark an area on the map where buildings are automatically identified as <i>consumers</i>. All consumers are defined as <i>households</i> by default. Change the consumer types to <i>enterprises</i> or <i>public services</i> for the consumers marked in the figure, and select the appropriate consumer categories.
                            </p>
                            <p>
                                In this task, we will not modify the <i>Project Setup</i>, <i>Demand Estimation</i>, <i>Grid Design</i>, and <i>Energy System Design</i> pages. Instead, we'll maintain the default parameters and proceed by clicking <i>'Next'</i> or <i>'Optimize'</i> in the final step.
                            </p>
                            <p>
                                This entails conducting a <i>Demand Estimation</i> based on the national average of rural areas. In terms of <i>Grid Design</i>, it involves connecting all consumers and adopting the default cost parameters for all components. For <i>Energy System Design</i>, the available components include <i>PV systems</i>, <i>diesel generators</i>, <i>battery systems</i>, and <i>inverters</i>, with the optimization algorithm determining the optimal sizing of these components.
                            </p>
                            <img src="{{ url_for('public', path='media_files/images/task_1.jpg') }}" class="img-fluid" alt="Grid Optimization" style="margin-top: 20px; margin-bottom: 20px;">
                    </div>
                </div>
            </div>
            <!-- Accordion Item 2 -->
            <div class="accordion-item" style="padding: 10px">
                <h2 class="accordion-header" id="task1HeadingTwo">
                    <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task1CollapseTwo" aria-expanded="false" aria-controls="task1CollapseTwo">
                        Step-By-Step Guide
                    </button>
                </h2>
                <div id="task1CollapseTwo" class="accordion-collapse collapse" aria-labelledby="task1HeadingTwo" data-bs-parent="#accordionTask1">
                    <div class="accordion-body">
                        <p>
                            <strong>
                                Step One: Project Setup
                            </strong>
                        </p>
                        <p>
                            In the first step, a new project should be created (Note: To do this, open a new tab). Navigate to <i>Projects</i> and click on the <i>'New Project'</i> button in the upper right area. You will be taken to the first page of the project settings, <i>Project Setup</i>. Here, you should first change the project's default name to <i>"Training Task 1"</i>. Additionally, you can modify the project description. The parameters such as <i>Interest Rate</i>, <i>Simulation Period</i>, and <i>Project Lifetime</i> remain unchanged. If you have questions about individual parameters, you can hover the mouse pointer over the question mark to view the corresponding explanations. Proceed to the next planning step by clicking <i>'Next'</i> at the bottom of the page.
                        </p>
                        <p>
                            <strong>
                                Step Two: Consumer Selection
                            </strong>
                        </p>
                        <p>
                            On the <i>Consumer Selection</i> page, enter the coordinates "7.699508, 7.710631" into the search field labeled <i>"Search Location within Nigeria"</i> and press Enter. The map will then center on the specified geolocation. To zoom in closer to the location, you can use the mouse wheel or click the <i>'+'</i> symbol on the map interface. <strong>Note:</strong> While locations can typically be searched by name and country—such as <i>"Ikah Ichala, Nigeria"</i>—the mapping system in use, <i>OpenStreetMap</i>, does not recognize this particular location and will display an error message.
                        </p>
                        <p>
                            Next, using the <i>drawing tool</i>, select all buildings in the area and designate them as <i>consumers</i>. By default, all consumers are designated as <i>households</i>. Reclassify some of these consumers as <i>enterprises</i> and <i>public services</i> according to the specifications outlined in the figure from the task instructions. Detailed instructions on how to use the drawing tools for consumer identification can be found in the tutorial video. Once the consumers have been selected and the settings have been configured, click on <i>'Next'</i> to proceed to the next planning step.
                        </p>
                        <p>
                            <strong>
                                Step Three: Start Optimization
                            </strong>
                        </p>
                        <p>
                            As outlined in the task instructions, no modifications will be made on the subsequent three pages. Please click <i>'Next'</i> on each page, and on the final page, click <i>'Optimize'</i>. The optimization process will then begin. Upon completion of the optimization, you will be automatically redirected to the <i>results page</i>.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Accordion Item 3 -->
            <div class="accordion-item" style="padding: 10px">
                <h2 class="accordion-header" id="task1HeadingThree">
                    <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task1CollapseThree" aria-expanded="false" aria-controls="task1CollapseThree">
                        Result Overview
                    </button>
                </h2>
                <div id="task1CollapseThree" class="accordion-collapse collapse" aria-labelledby="task1HeadingThree" data-bs-parent="#accordionTask1">
                    <div class="accordion-body">
                        <img src="{{ url_for('public', path='media_files/images/task_1_result.jpg') }}"
                                 class="img-fluid"
                                 alt="Grid Optimization"
                                 style="margin-top: 20px; margin-bottom: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="task2" class="dashboard">
        <!-- Accordion for Task Two -->
        <div class="accordion" id="accordionTask2" style="margin-top: 12px">
            <!-- Similar accordion items with IDs adjusted for task2 -->
            <!-- Accordion Item 1 -->
            <div class="accordion-item" style="padding: 10px">
                <h2 class="accordion-header" id="task2HeadingOne">
                    <button class="accordion-button no-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#task2CollapseOne" aria-expanded="true" aria-controls="task2CollapseOne">
                        Task Description
                    </button>
                </h2>
                <div id="task2CollapseOne" class="accordion-collapse collapse show" aria-labelledby="task2HeadingOne" data-bs-parent="#accordionTask2">
                    <div class="accordion-body">
                        <p>
                            The model created in <i>Task 1</i> should now be adjusted. To do this, first create a copy of your existing project on the <i>project overview page</i> and then edit it. Currently, all buildings in the area are connected to the grid. However, the <i>OffGridPlanner tool</i> allows for the identification of consumers with high connection costs. These consumers can optionally be equipped with <i>solar home systems</i> to reduce grid construction costs and, consequently, the Levelized Cost of Energy (LCOE) for off-grid systems. To implement this, activate the <i>'Solar Home System'</i> option under <i>Grid Design</i> and specify a value for the <i>'Max. Specific Grid Cost'</i> parameter. Initially, set this parameter to 0.70 cents/kWh and then adjust it to 50. On the results page, observe how these changes impact the upfront investment costs of the grid as well as the LCOE.
                        </p>
                        <img src="{{ url_for('public', path='media_files/images/task_2.jpg') }}" class="img-fluid d-block mx-auto" alt="Grid Optimization" style="max-width: 400px; height: auto;">
                    </div>
                </div>
            </div>
            <!-- Accordion Item 2 and 3 similar to above -->
            <!-- Accordion Item 2 -->
            <div class="accordion-item" style="padding: 10px">
                <h2 class="accordion-header" id="task2HeadingTwo">
                    <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task2CollapseTwo" aria-expanded="false" aria-controls="task2CollapseTwo">
                        Step-By-Step Guide
                    </button>
                </h2>
                <div id="task2CollapseTwo" class="accordion-collapse collapse" aria-labelledby="task2HeadingTwo" data-bs-parent="#accordionTask2">
                    <div class="accordion-body">
                        <p>
                            <strong>
                                Step One: Copy and Rename Project
                            </strong>
                        </p>
                        <p>
                            We go back to the <i>Projects</i> page and click on <i>'Duplicate Project'</i> for the project <i>"Training Task 1"</i> that we just created. Then, we click on <i>'Edit'</i> in the newly created project and are redirected to the <i>Project Setup</i> page. Here, we change the project name to <i>"Training Task 2"</i>.
                        </p>
                        <p>
                            <strong>
                                Step Two: Exclude Consumers with Exceptionally High Connection Costs
                            </strong>
                        </p>
                        <p>
                            To activate the function to exclude consumers with exceptionally high connection costs and equip them with solar home systems, we switch to the <i>Grid Design</i> page. There, we first activate the <i>Solar Home System</i> function and then set the parameter <i>Max. Specific Grid Cost</i> to 0.7 USD/kWh.
                        </p>
                        <p>
                            <strong>
                                Step Three: Start Optimization
                            </strong>
                        </p>
                        <p>
                            To start the optimization, there are two options. First, navigate to the <i>Energy System Design</i> page, where you will find the <i>'Optimize'</i> button in the footer, which allows you to start the calculation. The second option is to go to the <i>Results Page</i>. It should be noted that here the results from <i>Task 1</i> are displayed, not yet the results that take into account the new parameter changes. To update the results, you must click on the <i>'Recalculate'</i> button.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Accordion Item 3 -->
            <div class="accordion-item" style="padding: 10px">
                <h2 class="accordion-header" id="task2HeadingThree">
                    <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task2CollapseThree" aria-expanded="false" aria-controls="task2CollapseThree">
                        Result Overview
                    </button>
                </h2>
                <div id="task2CollapseThree" class="accordion-collapse collapse" aria-labelledby="task2HeadingThree" data-bs-parent="#accordionTask2">
                    <div class="accordion-body">
                        <p><strong>
                            Results for <i>70 &cent;<span class="currency-sub">USD</span>/kWh</i>:
                            </strong>
                        </p>
                        <img src="{{ url_for('public', path='media_files/images/task_2_results_1.jpg') }}"
                                 class="img-fluid"
                                 alt="Grid Optimization"
                                 style="margin-top: 20px; margin-bottom: 20px;">
                        <hr>
                        <p>
                            <strong>
                            Results for <i>50 &cent;<span class="currency-sub">USD</span>/kWh</i>:
                            </strong>
                        </p>
                        <img src="{{ url_for('public', path='media_files/images/task_2_results_2.jpg') }}"
                                 class="img-fluid"
                                 alt="Grid Optimization"
                                 style="margin-top: 20px; margin-bottom: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="task3" class="dashboard">
    <!-- Accordion for Task Three -->
    <div class="accordion" id="accordionTask3" style="margin-top: 12px">
        <!-- Accordion Item 1 -->
        <div class="accordion-item" style="padding: 10px">
            <h2 class="accordion-header" id="task3HeadingOne">
                <button class="accordion-button no-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#task3CollapseOne" aria-expanded="true" aria-controls="task3CollapseOne">
                    Task Description
                </button>
            </h2>
            <div id="task3CollapseOne" class="accordion-collapse collapse show" aria-labelledby="task3HeadingOne" data-bs-parent="#accordionTask3">
                <div class="accordion-body">
                    <p>
                      Next, we want to make changes to the <i>supply system</i>. So far, we have not selected the "<i>Shortage</i>" option on the <i>Energy System Design</i> page. This means that, up until now, the supply system had to cover the demand at every timestep. However, covering all peak loads can significantly increase the costs for an energy system. Therefore, we will now somewhat limit this requirement and allow an undercoverage of the demand of 5% over the year; at individual timesteps, an undercoverage of 10% is permitted. Observe the effects on the installed capacities and the LCOE.
                    </p>
                    <img src="{{ url_for('public', path='media_files/images/task_3.jpg') }}" class="img-fluid d-block mx-auto" alt="Grid Optimization" style="max-width: 400px; height: auto;">
                    <p>
                        The model from Task 2, with a maximum specific grid cost value of 50 &cent;<span class="currency-sub">USD</span>/kWh, is used as the starting point. A copy of the project is created, and its name is changed to "Training Task 3."
                    </p>
                </div>
            </div>
        </div>
        <!-- Accordion Item 2 -->
        <div class="accordion-item" style="padding: 10px">
            <h2 class="accordion-header" id="task3HeadingTwo">
                <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task3CollapseTwo" aria-expanded="false" aria-controls="task3CollapseTwo">
                    Step-By-Step Guide
                </button>
            </h2>
            <div id="task3CollapseTwo" class="accordion-collapse collapse" aria-labelledby="task3HeadingTwo" data-bs-parent="#accordionTask3">
                <div class="accordion-body">
                        <p>
                            <strong>
                                Step One: Copy and Rename Project
                            </strong>
                        </p>
                        <p>
                            We go back to the <i>Projects</i> page and click on <i>'Duplicate Project'</i> for the project <i>"Training Task 2"</i> that we just created. Then, we click on <i>'Edit'</i> in the newly created project and are redirected to the <i>Project Setup</i> page. Here, we change the project name to <i>"Training Task 3"</i>.
                        </p>
                        <p>
                            <strong>
                                Step Two: Permit Shortages to a Limited Extent
                            </strong>
                        </p>
                        <p>
                            To allow for an undercoverage, the <i>Energy System Design</i> page is navigated to and <i>shortage</i> is activated. The value <i>Max. Total Shortage</i> is set to 5%, and the value <i>Max. Shortage Each Timestep</i> is set to 10 percent. The value <i>Shortage Penalty Cost</i> is set to 0.4 USD/kWh. <strong>Note:</strong> The <i>Shortage Penalty Cost</i> are added to the objective function in case of a shortfall in demand. This ensures that the shortfall in demand is only utilized when the cost of meeting the demand exceeds the defined threshold value. Otherwise, the solver would always fully utilize shortage, as in this case the total costs are minimized. However, shortage should only be used when meeting the coverage would actually be associated with high costs.
                        </p>
                        <p>
                            <strong>
                                Step Three: Start Optimization
                            </strong>
                        </p>
                        <p>
                          The <i>Optimize</i> button at the bottom of the page is clicked.
                        </p>
                </div>
            </div>
        </div>
        <!-- Accordion Item 3 -->
        <div class="accordion-item" style="padding: 10px">
            <h2 class="accordion-header" id="task3HeadingThree">
                <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task3CollapseThree" aria-expanded="false" aria-controls="task3CollapseThree">
                    Result Overview
                </button>
            </h2>
            <div id="task3CollapseThree" class="accordion-collapse collapse" aria-labelledby="task3HeadingThree" data-bs-parent="#accordionTask3">
                <div class="accordion-body">
                    <img src="{{ url_for('public', path='media_files/images/task_3_results.jpg') }}"
                         class="img-fluid"
                         style="margin-top: 20px; margin-bottom: 20px;">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="task4" class="dashboard">
    <!-- Accordion for Task Four -->
    <div class="accordion" id="accordionTask4" style="margin-top: 12px">
        <!-- Accordion Item 1 -->
        <div class="accordion-item" style="padding: 10px">
            <h2 class="accordion-header" id="task4HeadingOne">
                <button class="accordion-button no-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#task4CollapseOne" aria-expanded="true" aria-controls="task4CollapseOne">
                    Task Description
                </button>
            </h2>
            <div id="task4CollapseOne" class="accordion-collapse collapse show" aria-labelledby="task4HeadingOne" data-bs-parent="#accordionTask4">
                <div class="accordion-body">
                    <p>
                      Until now, it has been assumed that there are no existing power supply units on site and all components would need to be procured. However, since a 25 kW motor is already in place, the simulation mode of the diesel genset is now switched from <i>design</i> to <i>dispatch</i> under <i>Energy System Design</i>, and the capacity is stated as per the existing motor. This implies that the optimization model will no longer determine the size of the <i>diesel genset</i>, as this is now user-defined. The model only identifies when the <i>diesel genset</i> will be deployed. Since the investment in the <i>diesel genset</i> has already been made, it is not included in the considerations; thus, the investment costs CapEx are set to zero.
                    </p>

                </div>
            </div>
        </div>
        <!-- Accordion Item 2 -->
        <div class="accordion-item" style="padding: 10px">
            <h2 class="accordion-header" id="task4HeadingTwo">
                <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task4CollapseTwo" aria-expanded="false" aria-controls="task4CollapseTwo">
                    Step-By-Step Guide
                </button>
            </h2>
            <div id="task4CollapseTwo" class="accordion-collapse collapse" aria-labelledby="task4HeadingTwo" data-bs-parent="#accordionTask4">
                <div class="accordion-body">
                        <p>
                            <strong>
                                Step One: Copy and Rename Project
                            </strong>
                        </p>
                        <p>
                            We go back to the <i>Projects</i> page and click on <i>'Duplicate Project'</i> for the project <i>"Training Task 3"</i> that we just created. Then, we click on <i>'Edit'</i> in the newly created project and are redirected to the <i>Project Setup</i> page. Here, we change the project name to <i>"Training Task 4"</i>.
                        </p>
                        <p>
                            <strong>
                                Step Two: Manually determine Capacity of Diesel Genset
                            </strong>
                        </p>
                        <ul>
                          <li>Navigate to the <i>Energy System Design</i> page.</li>
                          <li>Switch the capacity determination mode from "Optimized Capacity" to "Fixed Capacity."</li>
                          <li>Set the capacity to 25 kW.</li>
                          <li>Set the <i>CapEx</i> at 0 USD/kWh.</li>
                        </ul>
                        <img src="{{ url_for('public', path='media_files/images/task_4.jpg') }}" class="img-fluid d-block mx-auto" alt="Grid Optimization" style="max-width: 400px; height: auto;">
                        <p>
                            <strong>
                                Step Three: Start Optimization
                            </strong>
                        </p>
                        <p>
                          The <i>Optimize</i> button at the bottom of the page is clicked.
                        </p>
                </div>
            </div>
        </div>
        <!-- Accordion Item 3 -->
        <div class="accordion-item" style="padding: 10px">
            <h2 class="accordion-header" id="task4HeadingThree">
                <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task4CollapseThree" aria-expanded="false" aria-controls="task4CollapseThree">
                    Result Overview
                </button>
            </h2>
            <div id="task4CollapseThree" class="accordion-collapse collapse" aria-labelledby="task4HeadingThree" data-bs-parent="#accordionTask4">
                <div class="accordion-body">
                    <img src="{{ url_for('public', path='media_files/images/task_4_results.jpg') }}"
                         class="img-fluid"
                         style="margin-top: 20px; margin-bottom: 20px;">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="task5" class="dashboard">
    <!-- Accordion for Task Four -->
    <div class="accordion" id="accordionTask5" style="margin-top: 12px">
        <!-- Accordion Item 1 -->
        <div class="accordion-item" style="padding: 10px">
            <h2 class="accordion-header" id="task5HeadingOne">
                <button class="accordion-button no-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#task5CollapseOne" aria-expanded="true" aria-controls="task5CollapseOne">
                    Task Description
                </button>
            </h2>
            <div id="task5CollapseOne" class="accordion-collapse collapse show" aria-labelledby="task5HeadingOne" data-bs-parent="#accordionTask5">
                <div class="accordion-body">
                    <p>
                      In the final task, the planning of an energy system solely equipped with PV and a battery system, excluding a diesel genset, is explored. To achieve this, the diesel genset option on the <i>Energy System Design</i> page is deactivated, and the calculation is executed again.
                    </p>
                    <p>
                      It is observed that with the current settings, without a diesel genset, the condition of covering at least 90% of the demand at each timestep cannot be met. To enable the solver to find a solution, individual timesteps where the demand cannot be met must be allowed by setting <i>Max. Shortage Each Timestep</i> to 100%.
                    </p>
                    <p>
                      Different levels of total allowable shortage are experimented with. Firstly, the <i>Max. Total Shortage</i> is set to 10%, and the calculation is executed to observe the impact on the energy system’s design and performance. Then, the <i>Max. Total Shortage</i> is adjusted to 20%, and the outcomes are recalculated for comparison.
                    </p>
                </div>
            </div>
        </div>
        <!-- Accordion Item 2 -->
        <div class="accordion-item" style="padding: 10px">
            <h2 class="accordion-header" id="task5HeadingTwo">
                <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task5CollapseTwo" aria-expanded="false" aria-controls="task5CollapseTwo">
                    Step-By-Step Guide
                </button>
            </h2>
            <div id="task5CollapseTwo" class="accordion-collapse collapse" aria-labelledby="task5HeadingTwo" data-bs-parent="#accordionTask5">
                <div class="accordion-body">
                  <p>
                    <strong>
                      Step One: Copy and Rename Project
                    </strong>
                  </p>
                  <p>
                    Navigate back to the <i>Projects</i> page and click on <i>'Duplicate Project'</i> for the project <i>"Training Task 4"</i> that was just created. Then, click on <i>'Edit'</i> in the newly created project to be redirected to the <i>Project Setup</i> page. Here, change the project name to <i>"Training Task 5"</i>.
                  </p>

                  <p>
                    <strong>
                      Step Two: Deselect Diesel Genset
                    </strong>
                  </p>
                  <ul>
                    <li>Navigate to the <i>Energy System Design</i> page.</li>
                    <li>Deselect the <i>diesel genset</i>.</li>
                  </ul>

                  <img src="{{ url_for('public', path='media_files/images/task_5.jpg') }}" class="img-fluid d-block mx-auto" alt="Grid Optimization" style="max-width: 400px; height: auto;">

                  <p>
                    <strong>
                      Step Three: Start Optimization
                    </strong>
                  </p>
                  <p>
                    Click the <i>Optimize</i> button at the bottom of the page to run the simulation.
                  </p>
                  <p></p>
                  <p>
                    <strong>
                      Step Four: Increase allowed Shortage and Recalculate
                    </strong>
                  </p>
                  <p>
                      <ul>
                        <li>Set the <i>Max. Total Shortage</i> to 10%.</li>
                        <li>Set the <i>Max. Shortage Each Timestep</i> to 30%.</li>
                        <li>Click the <i>Optimize</i> button at the bottom of the page to run the simulation. After optimization, compare the results to assess the impact of the changes made.</li>
                      </ul>
                  </p>
                </div>
            </div>
        </div>
        <!-- Accordion Item 3 -->
        <div class="accordion-item" style="padding: 10px">
            <h2 class="accordion-header" id="task5HeadingThree">
                <button class="accordion-button no-arrow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#task5CollapseThree" aria-expanded="false" aria-controls="task5CollapseThree">
                    Result Overview
                </button>
            </h2>
            <div id="task5CollapseThree" class="accordion-collapse collapse" aria-labelledby="task5HeadingThree" data-bs-parent="#accordionTask5">
                <div class="accordion-body">
                        <p><strong>
                            Results for <i>Max. Total Shortage = 5 %</i> and <i>Max. Shortage Each Timestep = 10 %</i>:
                            </strong>
                        </p>
                        <img src="{{ url_for('public', path='media_files/images/task_5_results_1.jpg') }}"
                                 class="img-fluid"
                                 alt="Grid Optimization"
                                 style="margin-top: 20px; margin-bottom: 20px;">
                        <hr>
                        <p>
                            <strong>
                            Results for <i>Max. Total Shortage = 10 %</i> and <i>Max. Shortage Each Timestep = 30 %</i>:
                            </strong>
                        </p>
                        <img src="{{ url_for('public', path='media_files/images/task_5_results_2.jpg') }}"
                                 class="img-fluid"
                                 alt="Grid Optimization"
                                 style="margin-top: 20px; margin-bottom: 20px;">
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_login_and_register_modal.html' %}
</main>
<footer class="step-footer">
    <div>
        <div class="step-footer__left">
            <a href="contact.html">&nbsp;&nbsp;&nbsp;Contact</a>
        </div>
        <div class="step-footer__center">
            <button class="btn btn--medium btn--hollow btn--previous" id="prevButton" onclick="prevTask();">Previous</button>
            <button class="btn btn--medium" style="color: #fff" id="nextButton" onclick="nextTask();">Next</button>
        </div>
        <div class="step-footer__right">
            <a href="privacy.html">Data Privacy Protection/Datenschutz&nbsp;&nbsp;&nbsp;</a>
            <a href="imprint.html">Imprint/Impressum&nbsp;&nbsp;&nbsp;</a>
        </div>
    </div>
</footer>
</body>
{% include '_scripts.html' %}
<script src="{{ url_for('js', path='backend_communication.js') }}"></script>
<script src="{{ url_for('js', path='pages/training_tasks.js') }}"></script>
</html>
