pillow==9.5.0
fastapi==0.92.0
uvicorn==0.20.0
gunicorn==20.1.0
pydantic==1.10.5
mysql-connector-python==8.0.32
SQLAlchemy[asyncio]==2.0.4
Jinja2==3.1.2
numpy~=1.23.5
pandas==1.3.4
oemof.solph==0.5
shapely==1.8.1
scipy==1.8.0
pyproj==3.3.1
k-means-constrained==0.7.2  # only pypy
python-jose==3.3.0
passlib==1.7.4
scikit-learn==1.2.1
munkres==1.1.2
cryptography==38.0.4
celery==5.2.7
redis==4.5.1
flatten-dict==0.4.2
aiomysql==0.1.1
flower==1.2.0
asgiref==3.6.0
captcha==0.4
pymongo==4.3.3
openpyxl==3.1.2
geopandas~=0.13.0
XlsxWriter~=3.1.0
networkx~=3.0
PyUtilib~=6.0.0
netCDF4==1.6.3
pvlib==0.9.5
windpowerlib==0.2.1
requests==2.30.0
cdsapi==0.6.1
oedialect==0.0.10
tables==3.8.0
descartes==1.1.0
h3==3.7.6
plotly==5.15.0
pyarrow==12.0.0
xarray==2023.1.0
