.icon {
  &--small {
    font-size: .6rem;
  }
}

.icon[data-bs-toggle="tooltip"] {
  cursor: pointer;
  padding-left: 0.35rem;
  vertical-align: middle;
  color: $primary-color-1;
}

.actions .btn--action {
  .icon:not(.icon-results)::before {
    color: $primary-color-2;
}

  &:hover .icon:not(.icon-results)::before {
    color: $primary-color-2-light;
  }
}

.tooltip-inner {
  max-width: 350px!important;
}