.home-container {
  height: 100vh;
}

.application_title {
  font-size: 2rem;
  padding: 1%;
}

.box-body {
  height: 90%;
}

.table_nodes {
  /* overflow-y: scroll; */
  height: auto;
}

.left-sidebar {
  height: 90vh;
}

.box_left_sidebar {
  grid-area: box_optimization;
  width: 95%;
  height: 100%;
}

.box_table_nodes {
  background-color: rgb(255, 0, 0);
}

.box-footer {
  height: 10%;
  background-color: lightgray;
}

.box-header {
  height: 10%;
  background-color: lightgrey;
}

.box-map {
  background-color: rgb(255, 255, 255);
}

.peoplesun-logo-box {
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: center;
}

.logo {
  width: auto;
  height: 80%;
  align-self: center;
}

.side_bar_box {
  border: 1px solid rgb(0, 0, 0);
  background-color: lightblue;
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.side_bar_button {
  margin-inline: 10%;
}

.mg_component_price_input {
  display: grid;
  grid-template: 33% 33% 33% auto/ 40% 40% 20%;
  grid-template-areas:
    "mg_component_prices_title  mg_component_prices_title  mg_component_prices_title"
    "name_component_1           input_component_1          name_currency_1"
    "name_component_2           input_component_2          name_currency_2";
  justify-items: center;
  align-items: center;
}

.name_component_1 {
  grid-area: name_component_1;
}

.input_component_1 {
  grid-area: input_component_1;
  width: 100%;
  height: 1.4375rem;
}

.name_component_2 {
  grid-area: name_component_2;
}
.input_component_2 {
  grid-area: input_component_2;
  width: 100%;
  height: 1.4375rem;
}

.name_currency_1 {
  grid-area: name_currency_1;
}

.name_currency_2 {
  grid-area: name_currency_2;
}

.mg_component_prices_title {
  grid-area: mg_component_prices_title;
}

#button_optimize {
  grid-area: button_optimize;
}

.side_bar_box_title {
  font-size: 1.2rem;
}
