.container {
  display: grid;
  grid-template: 100px 400px 50px auto/ 20vw 60vw 20vw;
  grid-template-areas:
    "header         header        header"
    "left-sidebar   map           right-sidebar"
    "footer         footer        footer"
    "table_nodes    table_nodes   table_nodes";
  /* align items within the grid */
  justify-items: center;
  align-items: center;
  /* align the grid within its container */
  justify-content: center;
  align-content: center;
  /* gap between items */
  row-gap: 0px;
  column-gap: 0px;
  height: auto;
}

.table_nodes {
  /* overflow-y: scroll; */
  height: auto;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.left-sidebar {
  grid-area: left-sidebar;
  display: grid;
  grid-template: 33% 33% 33% auto/ 100%;
  grid-template-areas:
    "mg_node_price_input"
    "mg_cable_price_input"
    ".        ";
  /* align items within the grid */
  justify-items: center;
  align-items: center;
  /* align the grid within its container */
  justify-content: center;
  align-content: center;
  /* gap between items */
  row-gap: 0px;
  column-gap: 0px;
  height: auto;
}

.right-sidebar {
  grid-area: left-sidebar;
  display: grid;
  grid-template: 33% 33% 33% auto/ 100%;
  grid-template-areas:
    "."
    "."
    "box_optimization";
  /* align items within the grid */
  justify-items: center;
  align-items: center;
  /* align the grid within its container */
  justify-content: center;
  align-content: center;
  /* gap between items */
  row-gap: 0px;
  column-gap: 0px;
  height: auto;
}

.box_optimization {
  grid-area: box_optimization;
  width: 95%;
  height: 100%;
  display: grid;
  grid-template: 50% 50% auto/ 100%;
  grid-template-areas:
    "button_optimize"
    ".";
  /* align items within the grid */
  justify-items: center;
  align-items: center;
  /* align the grid within its container */
  justify-content: center;
  align-content: center;
}

.right-sidebar {
  grid-area: right-sidebar;
}

.map {
  grid-area: map;
}

.table_nodes {
  grid-area: table_nodes;
}

.box_table_nodes {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-footer {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-header {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-sidebar {
  width: 100%;
  height: 100%;
  background-color: rgb(148, 148, 148);
}

.box-map {
  width: 100%;
  height: 100%;
  background-color: rgb(204, 15, 15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  height: 90%;
  width: 30%;
  display: flex;
  align-self: center;
}

.logo {
  width: auto;
  height: 80%;
  align-self: center;
}

.left-logo {
  justify-content: left;
}

.right-logo {
  display: flex;
  justify-content: space-evenly;
}

.right-logo {
  justify-content: space-between;
}

.orange-box {
  width: 100px;
  height: 100px;
  background-color: gold;
}

.mg_component_price_input {
  border: 1px solid rgb(0, 0, 0);
  background-color: lightblue;
  display: grid;
  grid-template: 33% 33% 33% auto/ 40% 40% 20%;
  grid-template-areas:
    "mg_component_prices_title  mg_component_prices_title  mg_component_prices_title"
    "name_component_1           input_component_1          name_currency_1"
    "name_component_2           input_component_2          name_currency_2";
  height: auto;
  justify-items: center;
  align-items: center;
  width: 95%;
  margin: 10%;
}

.name_component_1 {
  grid-area: name_component_1;
}

.input_component_1 {
  grid-area: input_component_1;
  width: 100%;
}

.name_component_2 {
  grid-area: name_component_2;
}
.input_component_2 {
  grid-area: input_component_2;
  width: 100%;
}

.name_currency_1 {
  grid-area: name_currency_1;
}

.name_currency_2 {
  grid-area: name_currency_2;
}

.mg_component_prices_title {
  grid-area: mg_component_prices_title;
  font-size: 1.5rem;
}

#button_optimize {
  grid-area: button_optimize;
  width: 60%;
  height: 50%;
}
