.home-container {
  height: 100vh;
}

.box-body {
  height: 80%;
}

.table_nodes {
  /* overflow-y: scroll; */
  height: auto;
}

.left-sidebar {
  height: 80vh;
}

.right-sidebar {
  display: grid;
  grid-template: 33% 33% 33% auto/ 100%;
  grid-template-areas:
    "boundary_selection"
    "."
    "box_optimization";
  /* align items within the grid */
  justify-items: center;
  align-items: center;
  /* align the grid within its container */
  justify-content: center;
  align-content: center;
  /* gap between items */
  row-gap: 0px;
  column-gap: 0px;
  height: auto;
}

.box_optimization {
  grid-area: box_optimization;
  width: 95%;
  height: 100%;
  display: grid;
  grid-template: 50% 50% auto/ 100%;
  grid-template-areas:
    "button_optimize"
    ".";
  /* align items within the grid */
  justify-items: center;
  align-items: center;
  /* align the grid within its container */
  justify-content: center;
  align-content: center;
}

.box_table_nodes {
  background-color: rgb(255, 0, 0);
}

.box-footer {
  height: 10%;
  background-color: lightgray;
}

.box-header {
  height: 10%;
  background-color: lightgrey;
}

.box-map {
  background-color: rgb(255, 255, 255);
}

.logo-box {
  height: 90%;
  width: 30%;
  display: flex;
  align-self: center;
}

.logo {
  width: auto;
  height: 80%;
  align-self: center;
}

.left-logo {
  justify-content: left;
}

.right-logo {
  display: flex;
  justify-content: space-evenly;
}

.right-logo {
  justify-content: space-between;
}

.side_bar_box {
  border: 1px solid rgb(0, 0, 0);
  background-color: lightblue;
  width: 100%;
  margin: 0%;
}

.side_bar_button {
  line-height: 0em;
}

.mg_component_price_input {
  display: grid;
  grid-template: 33% 33% 33% auto/ 40% 40% 20%;
  grid-template-areas:
    "mg_component_prices_title  mg_component_prices_title  mg_component_prices_title"
    "name_component_1           input_component_1          name_currency_1"
    "name_component_2           input_component_2          name_currency_2";
  justify-items: center;
  align-items: center;
}

.name_component_1 {
  grid-area: name_component_1;
}

.input_component_1 {
  grid-area: input_component_1;
  width: 100%;
}

.name_component_2 {
  grid-area: name_component_2;
}
.input_component_2 {
  grid-area: input_component_2;
  width: 100%;
}

.name_currency_1 {
  grid-area: name_currency_1;
}

.name_currency_2 {
  grid-area: name_currency_2;
}

.mg_component_prices_title {
  grid-area: mg_component_prices_title;
  font-size: 1.5rem;
}

#button_optimize {
  grid-area: button_optimize;
  width: 60%;
  height: 50%;
}

#side_bar_box-title {
  font-size: large;
}
