.sidebar-general {
  background-color: rgb(115, 184, 205);
  border: 1px solid black;
  border-top: 0;
}

.sidebar-box {
  border: 1px solid rgb(0, 0, 0);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  width: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidebar-box-title {
  background-color: rgb(34, 87, 122);
  font-size: 1.2vw;
  font-weight: bold;
  color: aliceblue;
}

.sidebar-box-text {
  font-size: 1.0vw;
  text-align: left;
  padding: 0%;
  margin: 0%;
}

.sidebar-padding {
  padding-block: 1.75%;
}

.sidebar-button:hover {
  font-weight: bold;
}

.sidebar-input {
  height: 3vh;
  width: 7vw
}

.sidebar-fieldset {
  padding: 0%;
  margin: 1%;
  border: 1px solid rgb(34, 87, 122);
}

.sidebar-fieldset legend {
  margin: 0;
  margin-left: 2%;
  font-weight: bold;
  color: rgb(34, 87, 122);
 }

 .sidebar-dropdown-list {
  list-style-type: none;
  margin: 0;
  margin-left: 8px;
  line-height: 2vh;
  font-size: 1.0vw;
 }
 
 .sidebar-dropdown {
  margin: 0;
  padding: 0;
  width: 9vw;
 }
