.simulation {
  @include flex-row-justify-center;

  &__heading {
    height: 16.5rem;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 6.125rem;
  }

  &__content {
    width: 100%;

    @media only screen and (min-width: $medium-screen) {
      width: calc(#{$section-max-width} / 2);
    }

    h2 {
      text-align: center;
      font-size: $font-size-medium;
      font-weight: 600;
    }
  }

  &__id {
    text-align: center;
    font-size: $font-size-small;
  }

  &__feedback {
    width: 100%;

    .item {
      text-align: left;

      &:first-of-type {
        padding-top: 2rem;
      }

      p {
        position: relative;
        font-weight: 300;
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;
      }

      p::before {
        content: "";
        position: absolute;
        top: 0.33rem;
        left: 0;
        width: 1rem;
        height: 1rem;
        background-image: url(../../assets/icons/i_cell_blue.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      ul {
        padding-bottom: 2rem;
      }

      ul li {
        padding-left: 0.5rem;
        list-style: none;
      }

      a {
        position: relative;
        padding-left: 1.5rem;
      }

      a::before {
        content: "";
        position: absolute;
        display: block;
        background-image: url(../../assets/icons/i_arrow_right.svg);
        width: 0.75rem;
        height: 0.75rem;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0.5rem;
        top: 0.2rem;
      }

      &--success p::before {
        background-image: url(../../assets/icons/i_cell_blue.svg);
      }

      &--warning p::before {
        background-image: url(../../assets/icons/i_cell_yellow.svg);
      }

      &--error p::before {
        background-image: url(../../assets/icons/i_cell_red.svg);
      }
    }
  }

  &--ns {
    .simulation__heading {
      background-image: url(../../assets/illustrations/disabled_hexagon.svg);
    }
  }

  &--pending {
    .simulation__heading {
      background-image: none;
      @include flex-column-align-justify-center;
    }

    .spinner-border {
      border-top-color: $primary-color-1;
      border-bottom-color: $primary-color-1;
      border-left-color: $primary-color-1;
    }
  }

  &--error {
    .simulation__heading {
      background-image: url(../../assets/illustrations/error_hexagon.svg);
    }
  }

  &--successful {
    .simulation__heading {
      background-image: url(../../assets/illustrations/open_plan_hero_hexagon.svg);
    }
  }
}