body {
  font-family: $main-font-family !important;
  color: $text-color-main;
  letter-spacing: $letter-spacing-small;
}

p {
  line-height: $line-height-normal;
}

h1,
h2,
h3 {
  letter-spacing: $letter-spacing-normal;
}