.home-container {
  height: 100vh;
}

.box-body {
  height: 87vh;
}

.table_nodes {
  /* overflow-y: scroll; */
  height: auto;
}

.box_table_nodes {
  background-color: rgb(255, 0, 0);
}

.box-map {
  background-color: rgb(0, 255, 255);
}

/* .leaflet-touch {
  width: 10vw;
  font-size: x-large;
  font-family: Verdana;
}

.leaflet-touch :hover {
  font-weight: bold;
} */

.legend {
  font-size: medium;
  line-height: 2vh;
  color: rgb(15, 76, 92);
  background-color: white;
  opacity: 0.7;
}