{% extends "layout.html" %} {% block content %}

<!-- spinner representing the loading -->
<div id="loading" style="display: none;">
  <img id="img-spinner" src="fastapi_app/static/images/loading.gif" alt="loading" />
</div>

<!-- the entire page (sidebar, title, and map) -->
<div class="home-container grid-x">

  <!-- sidebar: nodes, costs, settings, and import/export -->
  <div class="sidebar-general cell small-4 grid-y">

    <!-- sidebar: nodes -->
    <div class="cell shrink grid-y">
      <div class="sidebar-box sidebar-box-title cell shrink">NODES</div>

      <!-- sidebar/nodes: drawing boundaries -->
      <div class="sidebar-box-text cell shrink grid-padding-x">
        <input type="radio" id="radio_button_nodes_boundaries" checked name="radio_button_nodes"
          onclick="setVisibilityNodeBox();">
        <label for="radio_button_nodes_boundaries" class="sidebar-box-text"><strong>Specifying
            Boundaries:</strong>
        </label>
      </div>
      <div class="sidebar-box-text cell shrink grid-x">
        <div class="cell small-6 grid-x grid-margin-x">
          <div class="cell small-2 small-offset-3">Add</div>
          <div class="cell small-7">
            <button id="button_draw_boundaries_add" class="ui button sidebar-padding primary"
              title="Draw a polygon on the map to add nodes" onclick="boundary_select('add')">Draw Lines</button>
          </div>
        </div>

        <div class="cell small-6 grid-x grid-margin-x">
          <div class="cell small-3 small-offset-2">Remove</div>
          <div class="cell small-7">
            <button id="button_draw_boundaries_remove" class="ui button sidebar-padding primary"
              title="Draw a polygon on the map to remove nodes" onclick="boundary_select('remove')">Draw
              Lines</button>
          </div>
        </div>

      </div>

      <!-- sidebar/nodes: adding nodes to the map manually -->
      <div class="sidebar-box-text cell shrink grid-padding-x">
        <input type="radio" id="radio_button_nodes_manually" name="radio_button_nodes" value="-"
          onclick="setVisibilityNodeBox();">
        <label for="radio_button_nodes_manually"><strong>Adding Nodes Manually</strong></label>
      </div>
      <div class="sidebar-box-text cell shrink grid-y">
        <div class="cell small-6 grid-x grid-margin-x">
          <div class="cell small-5 small-offset-1">
            <input type="radio" id="radio_button_node_high_demand" disabled name="radio_button_nodes_manually"
              value="high_demand" onclick="setVisibilityNodeBox();">
            <label for="radio_button_node_high_demand" title="High-Demand Consumers">High Demand <img src={{
                url_for('static', path='images/markers/markerHighDemand.png' )}} alt="marker_high_demand" width="20">
            </label>
          </div>
          <div class="cell small-6">
            <input type="radio" id="radio_button_node_medium_demand" disabled name="radio_button_nodes_manually"
              value="medium_demand" onclick="setVisibilityNodeBox();">
            <label for="radio_button_node_medium_demand" title="Medium-Demand Consumers">Medium Demand <img src={{
                url_for('static', path='images/markers/markerMediumDemand.png' ) }} alt="marker_medium_demand"
                width="20"></label>
          </div>
        </div>

        <div class="cell small-6 grid-x grid-margin-x">
          <div class="cell small-5 small-offset-1">
            <input type="radio" id="radio_button_node_low_demand" disabled name="radio_button_nodes_manually"
              value="low_demand" onclick="setVisibilityNodeBox();">
            <label for="radio_button_node_low_demand" title="Low-Demand Consumers">Low Demand
              <img src={{ url_for('static', path='images/markers/markerLowDemand.png' ) }} alt="marker_low_demand"
                width="20"></label>
          </div>
          <div class="cell small-6">
            <input type="radio" id="radio_button_node_pole" disabled name="radio_button_nodes_manually" value="pole"
              onclick="setVisibilityNodeBox();">
            <label for="radio_button_node_pole" title="Poles">Pole <img src={{ url_for('static',
                path='images/markers/markerPole.png' ) }} alt="marker_pole" width="20"></label>
          </div>
        </div>
      </div>
    </div>

    <!-- sidebar: costs -->
    <div class="cell shrink grid-y">
      <div class="sidebar-box sidebar-box-title cell shrink">COSTS</div>

      <div class="sidebar-box-text cell shrink grid-padding-x">

        <!-- sidebar/costs: mini-grid main components -->
        <fieldset class="fieldset sidebar-fieldset">
          <legend>Main Components of Mini-Grid</legend>
          <div class="cell shrink grid-x">
            <label class="cell small-3">Poles ($)
              <input id="cost_pole" class="sidebar-input" name="cost_pole" type="number" placeholder="cost_pole"
                title="Unit cost of each pole in $" value="600" />
            </label>
            <label class="cell small-3">Connections ($)
              <input id="cost_connection" class="sidebar-input" name="cost_connection" type="number"
                placeholder="cost_connection" title="Connection cost of each consumer to the mini-grid in $"
                value="50" />
            </label>
            <label class="cell small-3">LV Cables ($/m)
              <input id="cost_distribution_cable" class="sidebar-input" name="cost_distribution_cable" type="number"
                placeholder="cost_distribution_cable" title="Cost of cables between consumers and poles in $/m"
                value="2" />
            </label>
            <label class="cell small-3">HV Cables ($/m)
              <input id="cost_interpole_cable" class="sidebar-input" name="cost_interpole_cable" type="number"
                placeholder="cost_interpole_cable" title="Cost of cables between poles in $/m" value="5" />
            </label>
          </div>
        </fieldset>

        <!-- sidebar/costs: solar home system components -->
        <fieldset class="fieldset sidebar-fieldset">
          <legend>Solar Home Systems</legend>
          <div class="cell shrink grid-x">
            <label class="cell small-4">High Demand ($)
              <input id="price_shs_hd" class="sidebar-input" name="price_shs" type="number" placeholder="price_shs_hd"
                title="Cost of SHS components for high-demand consumers in $" value="300" />
            </label>
            <label class="cell small-4">Medium Demand ($)
              <input id="price_shs_md" class="sidebar-input" name="price_shs" type="number" placeholder="price_shs_md"
                title="Cost of SHS components for medium-demand consumers in $" value="200" />
            </label>
            <label class="cell small-4">Low Demand ($)
              <input id="price_shs_ld" class="sidebar-input" name="price_shs" type="number" placeholder="price_shs_ld"
                title="Cost of SHS components for low-demand consumers in $" value="100" />
            </label>
          </div>
        </fieldset>
      </div>
    </div>

    <!-- sidebar: optimization -->
    <div class="cell shrink grid-y">
      <div class="sidebar-box sidebar-box-title cell shrink">OPTIMIZATION</div>

      <div class="sidebar-box-text cell shrink grid-x grid-margin-x align-bottom">
        <div class="cell small-4">
          <label>Relaxation Steps
            <input id="number_of_relaxation_steps_nr" class="sidebar-input" name="number_of_relaxation_steps_nr"
              type="number" placeholder="number_of_relaxation_steps_nr" value="10" min="0" step="1" />
          </label>
        </div>
        <div class="cell small-4">
          <label class="cell small-3">Max. Connections
            <input id="max_connection_poles" class="sidebar-input" name="max_connection_poles" type="number"
              placeholder="max_connection_poles" value="4" min="1" step="1" />
          </label>
        </div>
        <div class="cell small-4 grid-y">
          <div class="cell small-6">
            <button id="button_optimize" class="ui button sidebar-padding" onclick="optimize_grid()">Optimize</button>
          </div>
          <div class="cell small-6">
            <button id="button_identify_shs" class="ui button sidebar-padding" onclick="identify_shs()">Identify
              SHS</button>
          </div>
        </div>
      </div>
    </div>

    <!-- sidebar: import/export -->
    <div class="cell auto">
      <div class="sidebar-box sidebar-box-title cell shrink">IMPORT / EXPORT</div>

      <div class="sidebar-box-text cell shrink grid-x">
        <div class="cell small-6">
          <button class="ui button sidebar-padding primary" id="button_import" onclick="import_data();">Import</button>
          <input type="file" id="import" style="display: none;" accept=".xls, .xlsx" />
        </div>

        <div class="cell small-6">
          <input type="button" id="export" class="ui button sidebar-padding primary" value="Export" onclick="export_data();"></input>
        </div>
      </div>
    </div>

  </div>


  <!-- header and map -->
  <div class="cell small-8 grid-y">
    <!-- information about the tool (the headear) -->
    <div class="box-header cell shrink grid-x">
      <!-- texts -->
      <div class="cell small-8 grid-y">
        <span class="application_title cell shrink">Optimization Tool for Off-Grid Energy Supply and Distribution</span>
        <span class="application_subtitle cell shrink">Application: Off-Grid Electricity Supply Systems in
          Nigeria</span>
        <span class="application_subtitle cell shrink">Developed by: TU Berlin, Institute for Energy Engineering &
          Reiner Lemoine Institute gGmbH</span>
        <span class="application_subtitle cell shrink">Sponsored by: The German Federal Ministry of Education and
          Research
          (BMBF)</span>
      </div>
      <!-- logos -->
      <div class="logo-box cell small-4 grid-x align-middle">
        <div class="cell small-4">
          <img class="logo" src={{ url_for('static', path='images/LogoTUB.png' ) }} alt="TUB logo" />
        </div>
        <div class=" cell small-4">
          <img class="logo" src={{ url_for('static', path='images/LogoRLI.png' ) }} alt="RLI logo" />
        </div>
        <div class="cell small-4">
          <img class="logo" src={{ url_for('static', path='images/LogoBMBF.png' ) }} alt="BMBF logo" />
        </div>
      </div>

    </div>

    <div class="box-map map cell auto">
      <div id="leafletMap"></div>
    </div>

  </div>

</div>


<!-- <div class="mg_component_price_input sidebar-box cell shrink">
        <legend class="sidebar-box-title mg_component_prices_title">MG cable prices</legend>
        <p class="name_component_1">Interpole</p>
        <input id="price_interpole_cable" class="input_sidebar input_component_1" name="price_interpole_cable"
          type="number" placeholder="price_interpole_cable" value="2000" />
        <p class="name_currency_1">₦/m</p>
        <p class="name_component_2">Distribution</p>
        <input id="cost_distribution_cable" class="input_sidebar input_component_2" name="cost_distribution_cable"
          type="number" placeholder="cost_distribution_cable" value="750" />
        <p class="name_currency_2">₦/m</p>
      </div> -->
<!-- <div class="box_add_node sidebar-box cell shrink grid-y">
        <legend class="sidebar-box-title cell small-3">Add new node</legend>
        <div class="cell small-9">
          <input type="radio" name="radio_button_new_node_type" value="undefined" checked id="new_node_undefined"
            onclick="setMapClickEventToAddNode();"><label for="new_node_undefined">undefined</label>
          <input type="radio" name="radio_button_new_node_type" value="consumer" id="new_node_consumer"
            onclick="setMapClickEventToAddNode();"><label for="new_node_consumer">consumer <img src={{
              url_for('static', path='images/markers/MarkerConsumer.png' ) }} alt="marker_consumer"
              width="18"></label>
          <input type="radio" name="radio_button_new_node_type" value="pole" id="new_node_pole"
            onclick="setMapClickEventToAddNode();"><label for="new_node_pole">pole <img src={{ url_for('static',
              path='images/markers/marker-pole.png' ) }} alt="marker_pole" width="12"></label>
        </div>
      </div> -->
<!-- <div class="shs_identification sidebar-box cell small-3">
        <div class="box_shs_identification grid-y">
          <legend class="cell small-2 sidebar-box-title">Solar Home Sytem Identification</legend>
          <div class="cell small-2 grid-x">
            <p class="cell small-6">Cable price</p>
            <input id="cable_price_per_meter_for_shs_mst_identification" class="cell small-4 input_sidebar"
              name="cable_price_per_meter_for_shs_mst_identification" type="number"
              placeholder="cable_price_per_meter_for_shs_mst_identification" value="1000" />
            <p class="cell small-2">₦</p>
          </div>
          <div class="cell small-2 grid-x">
            <p class="cell small-6">Connection</p>
            <input id="additional_connection_price_for_shs_mst_identification" class="cell small-4 input_sidebar"
              name="additional_connection_price_for_shs_mst_identification" type="number"
              placeholder="additional_connection_price_for_shs_mst_identification" value="0" />
            <p class="cell small-2">₦</p>
          </div>
          <div id="shs_price_characteristics_box" class="cell small-2 grid-y">
            <div class="buttton_display_shs_price_characteristics">
              <button id="set_shs_price_characteristics" class="ui button sidebar-padding"
                onclick="displayShsCharacteristicsInput()">Set SHS price Characteristics</button>
            </div>
            <div id="shs_inputs">
              <div id="shs-content-box-0" class="shs-content-box grid-x cell small-2">
                <input class="cell small-3" placeholder="capacity" type="number" id="shs_capacity_0" value="100"
                  min="0" />
                <p class="cell small-1">kWh</p>
                <input class="cell small-3" placeholder="max power" type="number" id="shs_max_power_0" value="200"
                  min="0" />
                <p class="cell small-1">W</p>
                <input id="shs_price_0" class="cell small-3" placeholder="price" type="number" value="20000" min="0" />
                <p class="cell small-1">₦</p>
              </div>

              <div id="shs-content-box-1" class="shs-content-box grid-x cell small-2">
                <input class="cell small-3" placeholder="capacity" type="number" id="shs_capacity_1" min="0" />
                <p class="cell small-1">kWh</p>
                <input class="cell small-3" placeholder="max power" type="number" id="shs_max_power_1" min="0" />
                <p class="cell small-1">W</p>
                <input id="shs_price_1" class="cell small-3" placeholder="price" type="number" min="0" />
                <p class="cell small-1">₦</p>
              </div>

              <div id="shs-content-box-2" class="shs-content-box grid-x cell small-2">
                <input class="cell small-3" placeholder="capacity" type="number" id="shs_capacity_2" min="0" />
                <p class="cell small-1">kWh</p>
                <input class="cell small-3" placeholder="max power" type="number" id="shs_max_power_2" min="0" />
                <p class="cell small-1">W</p>
                <input id="shs_price_2" class="cell small-3" placeholder="price" type="number" min="0" />
                <p class="cell small-1">₦</p>
              </div>

              <div id="shs-content-box-3" class="shs-content-box grid-x cell small-2">
                <input class="cell small-3" placeholder="capacity" type="number" id="shs_capacity_3" min="0" />
                <p class="cell small-1">kWh</p>
                <input class="cell small-3" placeholder="max power" type="number" id="shs_max_power_3" min="0" />
                <p class="cell small-1">W</p>
                <input id="shs_price_3" class="cell small-3" placeholder="price" type="number" min="0" />
                <p class="cell small-1">₦</p>
              </div>
              <button class="button" id="hide_shs_characteristics_inputs"
                onclick="displayShsCharacteristicsInput()">Close</button>
            </div>
          </div>

          <div class="cell small-2">
            <button id="button_identify_shs" class="ui button sidebar-padding" onclick="identify_shs()">Identify
              SHS</button>
          </div>

        </div>
      </div> -->


<!-- <div class="box-table-nodes table_nodes">
    <legend>Nodes table</legend>
    <div class="nodes_table">
      <div class="new_node_params">
        <div id="node_input_box">
          <div class="ui input">
            <input id="new_node_lat" name="Latitude" type="number" placeholder="Latitude" value="" />
          </div>

          <div class="ui input">
            <input id="new_node_long" name="Longitude" type="number" placeholder="Longitude" value="" />
          </div>
          <div class="ui input">
            <input id="new_node_type" name="Node Type" type="text" placeholder="Node Type" value="undefined" />
          </div>
          <div class="ui input">
            <input id="new_node_type_fixed" name="Type Fixed" type="boolean" placeholder="Type Fixed" value="false" />
          </div>
          <button id="button_add_node" type="submit" class="ui button primary">
            Add Node
          </button>
        </div>
      </div>

      <button id="button_clear_node_db" type="submit" class="ui button primary" onclick="clear_node_db();">
        Clear Nodes
      </button>
      <table id="table_nodes">
        <thead>
          <tr>
            <th>Index</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Area</th>
            <th>Node Type</th>
            <th>Type Fixed</th>
            <th>Required Capacity</th>
            <th>Max Power</th>
          </tr>
        </thead>
        <tbody id="tbody_nodes"></tbody>
      </table>
    </div>
  </div>
  <div class="box-table-links table_links">
    <legend>Links table</legend>
    <div class="links_table">
      <table id="table_links">
        <thead>
          <tr>
            <th>Index</th>
            <th>Latitude from</th>
            <th>Longitude from</th>
            <th>Lattitude to</th>
            <th>Longitude to</th>
            <th>Type</th>
            <th>Distance</th>
          </tr>
        </thead>
        <tbody id="tbody_links"></tbody>
      </table>
    </div>
  </div> -->


<script src={{ url_for('static', path='js/interactions.js' ) }}></script>
<script src={{ url_for('static', path='js/map.js' ) }}></script>
<script src={{ url_for('static', path='js/import_export.js' ) }}></script>
{% endblock %}