<nav class="navbar navbar-expand-lg navbar-light bg-light navbar--scenario">
      <div class="container-fluid">
        <span class="navbar-brand">
            <a href="/"><img src="{{ url_for('static', path='assets/logos/peoplesun_logo.webp') }}" alt="peoplesun Logo" ></a>
        </span>
        <button
          class="navbar-toggler"
          type="button"
          name="open"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <span id="showMail">
          </span>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown profile">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {% if language == 'de_DE' %}
                  <img src="{{ url_for('static', path='assets/flags/de.svg') }}" alt="de" />
                  {% else %}
                  <img src="{{ url_for('static', path='assets/flags/gb.svg') }}" alt="gb" />
                  {% endif %}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown"  style="width: 30px">
                   <li>

                  {% if language == 'de_DE' %}
                      <a class="dropdown-item" href="/legal_notes?lang=en">
                      <img src="{{ url_for('static', path='assets/flags/gb.svg') }}" alt="en" />
                  {% else %}
                      <a class="dropdown-item" href="/legal_notes?lang=de">
                      <img src="{{ url_for('static', path='assets/flags/de.svg') }}" alt="de" />
                  {% endif %}</a>
                </li>
                <li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>