<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include '_head.html' %}
    <title>Account</title>
  </head>
  <body onload="account_overview();show_user_email_in_navbar();">
      {% include '_navbar.html' %}
    <main>
        <p id="userEmail">Tausche diesen Text aus</p>
    </main>
    <footer class="step-footer">
      <div>
        <div class="step-footer__left"></div>
        <div class="step-footer__center">
          <a class="btn btn--medium btn--hollow btn--previous"
             href="/"
            >Main Page</a>
        </div>
        <div class="step-footer__left"></div>
      </div>
    </footer>
  </body>
{% include '_scripts.html' %}
</html>
