<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% set title='Consumer Selection' %}
    {% include '_head.html' %}
    {% include '_style_msg_box.html' %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw-src.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.6/dist/geosearch.css" />
<script src="https://unpkg.com/leaflet-geosearch@3.0.6/dist/geosearch.umd.js"></script>

      <style>{% include '_toggle.html' %}
      .leaflet-control-trashbin a {
  font-size: 20px;
  line-height: 20px;
  width: 26px;
  height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
}
#search-container {
  width: 100%;
}

#search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;}


      </style>
  </head>
  <body onload="redirect_if_cookie_is_missing(true, true);
                db_nodes_to_js({{ project_id }}, true);
                show_user_email_in_navbar();">
  {% include '_navbar.html' %}
  {% include '_wizard.html' %}
    <main>
        <section id="section" class="dashboard">
            <div class="row">
            <form>


            </form>
                <div class="chart" style="height: auto">
                                    <div class="chart__header">
                  <h3 style="margin-left: 0; padding: 0 0px;">Determination of consumer geolocation</h3>
                      <span style="float:right;">
                      <a>Remove Markers</a>
                      <label class="switch">
                      <input type="checkbox" id="toggleswitch">
                      <span class="slider round"></span>
                      </label>
                      <p></p>
                      </span></div>
                    <p>Draw a boundary around an area in which buildings should be automatically identified as consumers</p>
                    <a id="drawPolygon" class="btn btn--medium"  href="#">Draw Polygon</a>
                    <a id="drawRectangle" class="btn btn--medium"  href="#">Draw Rectangle</a>
                    <p>Select individual consumer manually on the map by mouse click</p>
                    <a id="drawMarker" class="btn btn--medium"  href="#">Mark Consumers</a>
                                <p id="responseMsg"></p>

                    <div id="search-container">
  <input type="text" id="search-input" placeholder="Search location within Nigeria" class="input-group-text" style="text-align: left"/>
</div>
                    <p></p>
            <div id="map" style="min-height: 700px; min-width: 1000px;"></div>
                </div>

        </div>
        </section>
        <div id=noSelection class="modal">
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>No Selection</h1>
                <p>No consumers are selected. You must select the geolocation of the consumers before you go
                    to the next page.</p>
                <a class="btn btn--long text-right" href="#" onclick="hide_no_selection_prompt();">OK</a>

            </div>
        </form>
    </div>
    </main>

  {% include '_footer.html' %}
  </body>
    {% include '_scripts.html' %}
    <script src="{{ url_for('static', path='js/consumer_selection.js') }}"></script>
<script src="{{ url_for('static', path='js/integrate_map.js') }}"></script>
<script src="{{ url_for('static', path='js/map_drawings.js') }}"></script>
</html>
