<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% set title='Consumer Selection' %}
    {% include '_head.html' %}
    {% include '_style_msg_box.html' %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />
  </head>
  <body onload="redirect_if_cookie_is_missing();
                refresh_map({{ project_id }}, true);
                show_user_email_in_navbar();">
  {% include '_navbar.html' %}
  {% include '_wizard.html' %}
    <main>
        <section id="section" class="dashboard">
            <div class="row">
            <form>
              <div class="input-item">
                <label for="nodesSelection" class="form-label"
                  >Consumers' locations</label
                >
                <div
                  class="btn-group d-flex"
                  role="group"
                  aria-label="Basic radio toggle button group"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="consumerSelection"
                    id="selectionFile"
                    autocomplete="off"
                    onclick="activation_check();"
                  />
                  <label class="btn btn-outline-secondary" for="selectionFile"
                    >Import from File</label
                  >
                  <input
                    type="radio"
                    class="btn-check"
                    name="consumerSelection"
                    id="selectionBoundaries"
                    autocomplete="off"
                    onclick="activation_check();"
                    checked
                  />
                  <label
                    class="btn btn-outline-secondary"
                    for="selectionBoundaries"
                    >Select Boundaries</label
                  >
                  <input
                    type="radio"
                    class="btn-check"
                    name="consumerSelection"
                    id="selectionMap"
                    autocomplete="off"
                    onclick="activation_check();"
                    x
                  />
                  <label class="btn btn-outline-secondary" for="selectionMap"
                    >Click on the Map</label
                  >
                </div>
              </div>
              <div class="form-group form-inline">
                <div class="input-group mb-3">
                  <input
                    type="file"
                    class="form-control"
                    id="fileImport"
                    accept=".xlsx"
                    disabled
                  />
                  <button
                    id="btnImport"
                    class="btn disabled"
                    type="button"
                    onclick="import_data();"
                  >
                    Import
                  </button>
                </div>

                <div class="row input-item">
                  <div class="col-9">
                    <label
                      id="lblDrawBoundariesAdd"
                      class="form-label text-left"
                      for="btnDrawBoundariesAdd"
                      >Add consumers by selecting boundaries of the settlement
                    </label>
                  </div>
                  <div class="col-3">
                    <button
                      class="btn btn--long"
                      type="button"
                      id="btnDrawBoundariesAdd"
                      aria-disabled="true"
                      onclick="boundary_select('add', {{ project_id }});"
                    >
                      Start
                    </button>
                  </div>
                </div>
                <div class="row input-item">
                  <div class="col-9">
                    <label
                      id="lblDrawBoundariesRemove"
                      class="form-label text-left"
                      for="btnDrawBoundariesRemove"
                      >Remove consumers by selecting boundaries of the
                      settlement
                    </label>
                  </div>
                  <div class="col-3">
                    <button
                      class="btn btn--long text-right"
                      type="button"
                      id="btnDrawBoundariesRemove"
                      aria-disabled="true"
                      onclick="boundary_select('remove', {{ project_id }});"
                    >
                      Start
                    </button>
                  </div>
                </div>
                <div class="row input-item">
                  <div class="col-9">
                    <label
                      id="lblDownloadLocations"
                      class="form-label disabled text-left"
                      for="btnDownloadLocations"
                      >Download locations of selected consumers
                    </label>
                  </div>
                  <div class="col-3">
                    <button
                      class="btn btn--long disabled"
                      type="button"
                      id="btnDownloadLocations"
                      aria-disabled="true"
                      onclick="export_data();"
                    >
                      Download
                    </button>
                  </div>
                </div>
              </div>
               <p id="responseMsg"></p>
            </form>

            <div class="map" style="min-height: 700px;">
               <div id="leafletMap"></div>
            </div>
        </div>
        </section>
        <div id=noSelection class="modal">
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>No Selection</h1>
                <p>No consumers are selected. You must select the geolocation of the consumers before you go
                    to the next page.</p>
                <a class="btn btn--long text-right" onclick="hide_no_selection_prompt();">OK</a>

            </div>
        </form>
    </div>
    </main>
  {% include '_footer.html' %}
  </body>
    {% include '_scripts.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    {% include '_map_scripts.html' %}
</html>
