<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% set title='Consumer Selection' %}
    {% include '_head.html' %}
    {% include '_style_msg_box.html' %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw-src.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.6/dist/geosearch.css" />
<script src="https://unpkg.com/leaflet-geosearch@3.0.6/dist/geosearch.umd.js"></script>

      <style>{% include '_toggle.html' %}
      .leaflet-control-trashbin a {
  font-size: 20px;
  line-height: 20px;
  width: 26px;
  height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
}
#search-container {
  width: 100%;
}
#search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;}

      </style>
  </head>
  <body onload="redirect_if_cookie_is_missing(true, true);
                db_nodes_to_js({{ project_id }}, true);
                show_user_email_in_navbar();">
  {% include '_navbar.html' %}
  {% include '_wizard.html' %}
    <main>
        <section id="section" class="dashboard">
                <div class="chart" style="height: auto"><div class="chart__header">
                  <h3 style="margin-left: 0; padding: 0 0px;">Determination of consumer types</h3></div>
                    <p>By default, all consumers are classified as households. If you would like to classify individual consumers as businesses, select them on the map (by click on icon) and use the menu below to change the parameters of the consumer.</p>
                    <table>
                  <tr style="border-bottom:1px solid black">
                    <th>Consumer Type</th>
                    <th>Enterprise Category</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Floor Area</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                    <TR>
                       <TD>
                            <div class="input-item" style="margin-right: 30px;">
                            <select id="consumer" class="form-select" style="max-width: 150px">
                              <option>Houshold</option>
                            </select>
                          </div>
                       </TD>
                       <TD>
                          <div class="input-item">
                            <select id="enterprise" class="form-select" style="max-width: 150px">
                              <option>Enterprise</option>
                            </select>
                  </div>
                       </TD>
                       <TD>
                  <div class="input-group" style="max-width: 200px">
                  <input
                    type="number"
                    disabled="true"
                    class="form-control"
                    id="latitude"
                    placeholder=""
                    value=""
                    min="2"
                    max="16"
                    step="0.00001"
                    required
                  />
                  <span class="input-group-text">Degree</span>
                </div></TD>
                       <TD>
                  <div class="input-group" style="max-width: 200px">
                  <input
                    type="number"
                    disabled="true"
                    class="form-control"
                    id="longitude"
                    placeholder=""
                    value=""
                    min="2"
                    max="16"
                    step="0.00001"
                    required
                  />
                  <span class="input-group-text">Degree</span>
                </div>
                       </TD>
                        <TD><div class="input-group" style="max-width: 200px">
                  <input
                    type="number"
                    disabled="true"
                    class="form-control"
                    id="floor_area"
                    placeholder=""
                    value=""
                    min="2"
                    max="50"
                    step="0.00001"
                    required
                  />
                  <span class="input-group-text">m²</span></div></TD>
                       <TD><span style="float:right;"><a>&nbsp;
                       </a></span></TD>
                       <TD><span style="float:right;"><a>&nbsp;
                       </a></span></TD>
                       <TD><span style="float:right;"><a>&nbsp;
                       </a></span></TD>
                    </TR>
                </table>

                <p id="responseMsg"></p>
                    <p></p>
                    <div class="row">
                    <div id="map" style="min-height: 700px; min-width: 1000px;"></div>
                    </div></div>
        </section>
        <div id=noSelection class="modal">
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>No Selection</h1>
                <p>No consumers are selected. You must select the geolocation of the consumers before you go
                    to the next page.</p>
                <a class="btn btn--long text-right" href="#" onclick="hide_no_selection_prompt();">OK</a>

            </div>
        </form>
    </div>
    </main>

  {% include '_footer.html' %}
  </body>
    {% include '_scripts.html' %}

<script src="{{ url_for('static', path='js/integrate_map.js') }}"></script>
<script src="{{ url_for('static', path='js/consumer_types.js') }}"></script>
</html>
