<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% set title='Grid Design' %}
    {% include '_head.html' %}
  </head>
  <body onload="redirect_if_cookie_is_missing(true, true);
                load_previous_data('grid_design?project_id={{ project_id }}');
                boxVisibilityShs();
                show_user_email_in_navbar();">
    <!-- don't forget 'navbar--scenario' CSS class -->
  {% include '_navbar.html' %}
  {% include '_wizard.html' %}
    <main>
      <section class="dashboard">
        <div>
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="box box--tiny">
                    <div class="box__header">
                      <span class="grid-title">Distrubution Cable</span>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text">Lifetime</span>
                        <input
                          type="number"
                          step="1"
                          onchange="this.value = Math.max(0, Math.min(100, parseInt(this.value)));"
                          class="form-control"
                          id="distributionCableLifetime"
                          value="25"
                          required
                        />
                        <span class="input-group-text">Year</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text">CAPEX</span>
                        <input
                          type="number"
                          onchange="this.value = Math.max(0, Math.min(100, parseFloat(this.value))).toFixed(1);"
                          class="form-control"
                          id="distributionCableCapex"
                          value="10"
                          required
                        />
                        <span class="input-group-text">USD/m</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text">Max. Length</span>
                        <input
                          type="number"
                          step="1"
                          onchange="this.value = Math.max(0, Math.min(150, parseInt(this.value)));"
                          class="form-control"
                          id="distributionCableMaxLength"
                          value="40"
                          required
                        />
                        <span class="input-group-text">m</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box box--tiny">
                    <div class="box__header">
                      <span class="grid-title">Connection Cable</span>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text">Lifetime</span>
                        <input
                          type="number"
                          class="form-control"
                          onchange="this.value = Math.max(0, Math.min(100, parseInt(this.value)));"
                          id="connectionCableLifetime"
                          value="25"
                          required
                        />
                        <span class="input-group-text">Year</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text">CAPEX</span>
                        <input
                          type="number"
                          onchange="this.value = Math.max(0, Math.min(100, parseFloat(this.value))).toFixed(1);"
                          class="form-control"
                          id="connectionCableCapex"
                          value="4"
                          required
                        />
                        <span class="input-group-text">USD/m</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text">Max. Length</span>
                        <input
                          type="number"
                          onchange="this.value = Math.max(0, Math.min(200, parseInt(this.value)));"
                          class="form-control"
                          id="connectionCableMaxLength"
                          value="20"
                          required
                        />
                        <span class="input-group-text">m</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="box box--tiny">
                    <div class="box__header">
                      <span class="grid-title">Pole</span>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text">Lifetime</span>
                        <input
                          type="number"
                          class="form-control"
                          onchange="this.value = Math.max(0, Math.min(100, parseInt(this.value)));"
                          id="poleLifetime"
                          value="25"
                          required
                        />
                        <span class="input-group-text">Year</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text">CAPEX</span>
                        <input
                          type="number"
                          onchange="this.value = Math.max(0, Math.min(3000, parseFloat(this.value))).toFixed(1);"
                          class="form-control"
                          id="poleCapex"
                          value="800"
                          required
                        />
                        <span class="input-group-text">USD/m</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text"
                          >Max. Number of Connections</span
                        >
                        <input
                          type="number"
                          onchange="this.value = Math.max(0, Math.min(20, parseInt(this.value)));"
                          class="form-control"
                          id="poleMaxNumberOfConnections"
                          value="4"
                          required
                        />
                        <span class="input-group-text">-</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box box--tiny">
                    <div class="box__header">
                      <span class="grid-title">Minigrid</span>
                    </div>
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text">Connection Cost</span>
                        <input
                          type="number"
                          onchange="this.value = Math.max(0, Math.min(1500, parseFloat(this.value))).toFixed(1);"
                          class="form-control"
                          id="mgConnectionCost"
                          value="350"
                          required
                        />
                        <span class="input-group-text">USD/con</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div id="selectShsBox" class="box box--medium box--not-selected">
                <div class="box__header">
                  <form class="was-validated">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="selectShs"
                        required
                        onclick="boxVisibilityShs()"
                      />
                      <label class="form-check-label" for="selectShs"
                        >Solar Home System</label
                      >
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="input-group">
                    <span id="lblShsLifetime" class="input-group-text"
                      >Lifetime</span
                    >
                    <input
                      type="number"
                      onchange="this.value = Math.max(0, Math.min(35, parseInt(this.value)));"
                      class="form-control"
                      id="shsLifetime"
                      value="10"
                      required
                    />
                    <span id="shsLifetimeUnit" class="input-group-text"
                      >Years</span
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="input-group">
                    <span id="lblShsTierOneCapex" class="input-group-text"
                      >Tier One</span
                    >
                    <input
                      type="number"
                      onchange="this.value = Math.max(0, Math.min(1500, parseInt(this.value)));"
                      class="form-control"
                      id="shsTierOneCapex"
                      value="100"
                      required
                    />
                    <span id="shsTierOneCapexUnit" class="input-group-text"
                      >USD</span
                    >
                    <span
                      id="icnShsTierOneTooltip"
                      class="icon icon-question"
                      data-bs-toggle="tooltip"
                      title="List of assets in this tier level (to be updated)"
                    ></span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-group">
                    <span id="lblShsTierTwoCapex" class="input-group-text"
                      >Tier Two</span
                    >
                    <input
                      type="number"
                      onchange="this.value = Math.max(0, Math.min(1500, parseInt(this.value)));"
                      class="form-control"
                      id="shsTierTwoCapex"
                      value="350"
                      required
                    />
                    <span id="shsTierTwoCapexUnit" class="input-group-text"
                      >USD</span
                    >
                    <span
                      id="icnShsTierTwoTooltip"
                      class="icon icon-question"
                      data-bs-toggle="tooltip"
                      title="List of assets in this tier level (to be updated)"
                    ></span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-group">
                    <span id="lblShsTierThreeCapex" class="input-group-text"
                      >Tier Three</span
                    >
                    <input
                      type="number"
                      onchange="this.value = Math.max(0, Math.min(1500, parseInt(this.value)));"
                      class="form-control"
                      id="shsTierThreeCapex"
                      value="600"
                      required
                    />
                    <span id="shsTierThreeCapexUnit" class="input-group-text"
                      >USD</span
                    >
                    <span
                      id="icnShsTierThreeTooltip"
                      class="icon icon-question"
                      data-bs-toggle="tooltip"
                      title="List of assets in this tier level (to be updated)"
                    ></span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-group">
                    <span id="lblShsTierFourCapex" class="input-group-text"
                      >Tier Four</span
                    >
                    <input
                      type="number"
                      onchange="this.value = Math.max(0, Math.min(400, parseFloat(this.value))).toFixed(1);"
                      class="form-control"
                      id="shsTierFourCapex"
                      value="20"
                      required
                    />
                    <span id="shsTierFourCapexUnit" class="input-group-text"
                      >c/kWh</span
                    >
                    <span
                      id="icnShsTierFourTooltip"
                      class="icon icon-question"
                      data-bs-toggle="tooltip"
                      title="List of assets in this tier level (to be updated)"
                    ></span>
                  </div>
                </div>
                <div class="row">
                  <div class="input-group">
                    <span id="lblShsTierFiveCapex" class="input-group-text"
                      >Tier Five</span
                    >
                    <input
                      type="number"
                      onchange="this.value = Math.max(0, Math.min(100, parseFloat(this.value))).toFixed(1);"
                      class="form-control"
                      id="shsTierFiveCapex"
                      value="30"
                      required
                    />
                    <span id="shsTierFiveCapexUnit" class="input-group-text"
                      >c/kWh</span
                    >
                    <span
                      id="icnShsTierFiveTooltip"
                      class="icon icon-question"
                      data-bs-toggle="tooltip"
                      title="List of assets in this tier level (to be updated)"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  {% include '_footer.html' %}
  </body>
  {% include '_scripts.html' %}
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
  <script src="{{ url_for('static', path='js/grid-design.js') }}"></script>
</html>
