<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include '_head.html' %}
    <title>PeopleSun Project</title>
  </head>
  <body>
  {% include '_navbar.html' %}
    <main>
      <section class="project-setup two-columns">
        <div class="left">
          <div>
            <form>
                <label for= class="form-label">
                  Welcome!
                </label>
                <label  class="form-label">
                 The PeopleSun application can be tested without a user account. However, users are recommended to create an account to get access to larger computing capacity and to be able to store models.
                </label>
              <div class="input-item">
                <label for="email" class="form-label">
                  Email
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter your mail address"
                />
              </div>
                <div class="input-item">
                <label for="password" class="form-label">
                  Password
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter your password"
                />
              </div>
            </form>
              <p id="responseMsg"></p>
          </div>
        </div>
      </section>
    </main>
    <footer class="step-footer">
      <div>
        <div class="step-footer__left"></div>
        <div class="step-footer__center">
          <a
            class="btn btn--medium btn--hollow btn--previous"
            href="{{ url_for('project_setup')}}"
            >Start without login
          </a>
          <a class="btn btn--medium"
             href="{{ url_for('project_setup') }}"
             onclick="get_access_token();"
            >Login in start</a
          >
        </div>
        <div class="step-footer__left"></div>
      </div>
    </footer>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', path='node_modules/aos/dist/aos.js') }}"></script>
  <script src="{{ url_for('static', path='js/interactions.js') }}"></script>
</html>
