<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% set title='PeopleSun' %}
    {% include '_head.html' %}
    <title>PeopleSun</title>
  </head>
  <body>
  {% include '_navbar.html' %}
    <main>
      <section class="project-setup two-columns">
          <div>
                <p>
                  Welcome!
                </p>
                <p>
                 You can test the application without aa user account. However, users are recommended to create an account to get access to larger computing capacity and to be able to store models.
                </p>
            <form>
              <div class="input-item">
                <label for="email" class="form-label">
                  Email
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter your mail address"
                />
              </div>
                <div class="input-item">
                <label for="password" class="form-label">
                  Password
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter your password"
                />
              </div>
                <button
                      class="btn btn--long text-right"
                      type="button"
                      aria-disabled="false"
                      onclick="set_access_token();"
                    >
                      Log in
                </button>
            </form>
              <p id="responseMsg"></p>
          </div>
      </section>
    </main>
  {% include '_footer.html' %}
  </body>
{% include '_scripts.html' %}
</html>