<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% set title='Project Setup' %}
    {% include '_head.html' %}
      <style>
    .custom-textarea-height {
      height: 122px;
    }
    </style>
  </head>
  <body onload="redirect_if_cookie_is_missing(true, true);
                load_previous_data('project_setup?project_id={{ project_id }}');
                show_email_and_project_in_navbar({{ project_id }});">
  {% include '_navbar.html' %}
  {% include '_wizard.html' %}
    <main>
      <section class="project-setup two-columns">
        <div class="left">
          <div>
            <form>
              <div class="input-item">
                <label for="projectName" class="form-label">
                  Project name
                </label>
                <input
                  type="text"
                  maxlength="60"
                  class="form-control"
                  id="projectName"
                  placeholder="Name"
                  value="Off-Grid System"
                  required
                />
              </div>
              <div class="input-item optional">
                <label for="projectDescription" class="form-label"
                  >Project description
                  </span>
                </label>
                <textarea
                  class="form-control custom-textarea-height"
                  maxlength="200"
                  id="projectDescription"
                  placeholder="Description"
                >Simulation and optimization of power supply and grid layout for an off-grid system in a rural settlement.</textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="right">
          <div>
            <form>
              <div class="input-item">
                <label for="interestRate" class="form-label">
                  Interest rate
                  <span
                    class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="
                    The interest rate in investment calculations signifies the cost of capital and the potential return from an alternative investment of similar risk. It helps express the time value of money, crucial for determining the present value of future cash flows. This assists in evaluating and comparing investment opportunities. Default value of 12.3% is taken from World Bank reported average lending interest rate data of 2022. Please make sure to check this value for your project."
                  ></span>
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="interestRate"
                    placeholder="Interest"
                    value="12.3"
                    min="0"
                    step="0.01"
                    required
                  />
                  <span class="input-group-text">%</span>
                </div>
              </div>
              <div class="input-item">
                <label for="projectLifetime" class="form-label">
                  Project lifetime
                  <span
                    class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="The period during which the off grid will be in operation. Components whose lifetime is below that of the project lifetime must be replaced during operation, and this replacement must be taken into account in the cost calculation. In addition, the residual value of the components is determined at the end of the project lifetime."
                  ></span>
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    min="1"
                    max="35"
                    step="1"
                    id="projectLifetime"
                    placeholder="Lifetime"
                    value="25"
                    required
                  />
                  <span class="input-group-text">Year</span>
                </div>
              </div>
              <div class="input-item">
                <label for="nDays" class="form-label"
                  >Number of days
                  <span
                    class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="Number of days in the modeling period for the unit commitment of the generation plants."
                  ></span>
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="nDays"
                    placeholder="Number of days"
                    value='{{ max_days }}'
                    min="28"
                    max='{{ max_days }}'
                    step="1"
                    required
                  />
                  <span class="input-group-text">Day</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  {% include '_footer.html' %}
  </body>
    {% include '_scripts.html' %}
    <script src="{{ url_for('static', path='js/project_setup.js') }}"></script>
</html>
