<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% set title='Project Setup' %}
    {% include '_head.html' %}
  </head>
  <body onload="redirect_if_cookie_is_missing(true, true);
                load_previous_data('project_setup/?project_id={{ project_id }}');
                show_user_email_in_navbar();">
  {% include '_navbar.html' %}
  {% include '_wizard.html' %}
    <main>
      <section class="project-setup two-columns">
        <div class="left">
          <div>
            <form>
              <div class="input-item">
                <label for="projectName" class="form-label">
                  Project name
                  <span
                    class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="Maximum of 50 characters"
                  >
                  </span>
                </label>
                <input
                  type="text"
                  maxlength="60"
                  class="form-control"
                  id="projectName"
                  placeholder="Name"
                  value="Off-Grid System"
                  required
                />
              </div>
              <div class="input-item optional">
                <label for="projectDescription" class="form-label"
                  >Project description
                  <span
                    class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="Maximum of 300 characters"
                  >
                  </span>
                </label>
                <textarea
                  class="form-control"
                  maxlength="200"
                  id="projectDescription"
                  placeholder="Description"
                >
 Simulation and optimization of power supply and grid layout for an off-grid system in a rural settlement.
                </textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="right">
          <div>
            <form>
              <div class="input-item">
                <label for="interestRate" class="form-label">
                  Interest rate
                  <span
                    class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="A guess of what the interest rate will be in during the project lifetime. Could be provided as constant or timeseries"
                  ></span>
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="interestRate"
                    placeholder="Interest"
                    value="6"
                    min="0"
                    step="0.01"
                    required
                  />
                  <span class="input-group-text">%</span>
                </div>
              </div>
              <div class="input-item">
                <label for="projectLifetime" class="form-label">
                  Project lifetime
                  <span
                    class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="Simulation time"
                  ></span>
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    min="1"
                    max="35"
                    step="1"
                    id="projectLifetime"
                    placeholder="Lifetime"
                    value="25"
                    required
                  />
                  <span class="input-group-text">Year</span>
                </div>
              </div>
              <div class="input-item">
                <div>
                  <label for="startDate" class="form-label">Start date</label>
                  <input
                    type="date"
                    class="form-control"
                    id="startDate"
                    name="project-start"

                    min="2020-01-01"
                    max="2050-12-31"
                    required
                  />
                </div>
              </div>
              <div class="input-item">
                <label for="temporalResolution" class="form-label"
                  >Temporal resolution
                  <span
                    class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="Time step of the simulation. A higher resolution requires more data and can lead to longer simulation times."
                  ></span>
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="temporalResolution"
                    placeholder="Time step"
                    value="1"
                    min="1"
                    max="168"
                    step="1"
                    required
                  />
                  <span class="input-group-text">Hour</span>
                </div>
              </div>
              <div class="input-item">
                <label for="nDays" class="form-label"
                  >Number of days
                  <span
                    class="icon icon-question"
                    data-bs-toggle="tooltip"
                    title="Number of days used in the simulation."
                  ></span>
                </label>
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="nDays"
                    placeholder="Number of days"
                    value='{{ max_days }}'
                    min="1"
                    max='{{ max_days }}'
                    step="1"
                    required
                  />
                  <span class="input-group-text">Day</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  {% include '_footer.html' %}
  </body>
    {% include '_scripts.html' %}
      <script>
      var currentDate = new Date();
      var lastYear = currentDate.getFullYear() - 1;
      var firstDayLastYear = new Date(Date.UTC(lastYear, 1, 1));
      var startDateInput = document.getElementById("startDate");
      startDateInput.value = firstDayLastYear.toISOString().slice(0,10);
    </script>
</html>
