<!DOCTYPE html>
<html lang="en-us">
<head>
    {% set title= 'ResetPassword' %}
    {% include '_head.html' %}
</head>
<body onload="document.getElementById('changePW').style.display='block'">
{% include '_navbar.html' %}
<main>
    <div id=changePW class="modal">
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>Change Password</h1>
                <form>
                    <div class="input-item" style="text-align: left">
                        <p style="display:inline">
                            Enter your new password
                        </p>
                        <input
                                type="password"
                                class="form-control"
                                id="newUserPassword1"
                                placeholder="Enter your new password"
                                value=""
                                required
                        />
                    </div>
                    <div class="input-item" style="text-align: left">
                        <p style="display:inline">
                            Repeat you new password
                        </p>
                        <input
                                type="password"
                                class="form-control"
                                id="newUserPassword2"
                                placeholder="Enter your new password"
                                value=""
                                required
                        />
                    </div>
                </form>
                <p id="responseMsg2"></p>
                <button onclick="reset_pw('{{ guid }}')" type="button" class="deletebtn">Change Password</button>
            </div>
        </form>
    </div>
</main>
{% include '_footer.html' %}
</body>
{% include '_scripts.html' %}
</html>