<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% set title= 'Registration' %}
    {% include '_head.html' %}
  </head>
  <body onload="redirect_if_cookie_is_missing(false, true);">
      {% include '_navbar.html' %}
    <main>
      <section class="project-setup two-columns">
          <div>
            <form>
              <div class="input-item">
                <label for="userEmail" class="form-label">
                  Email
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="userEmail"
                  placeholder="Enter your mail address"
                  value=""
                  required
                />
              </div>
                <div class="input-item">
                <label for="userPassword" class="form-label">
                  Password
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="userPassword"
                  placeholder="Enter your password"
                  value=""
                  required
                />
              </div>
                <button
                      class="btn btn--long text-right"
                      type="button"
                      aria-disabled="false"
                      onclick="add_user_to_db();"
                    >
                      Register
                </button>
            </form>
              <p id="responseMsg"></p>
          </div>
      </section>
    </main>
{% include '_footer.html' %}
  </body>
{% include '_scripts.html' %}
</html>
