<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% set title= 'Projects' %}
    {% include '_head.html' %}
      <style>
        table { border-collapse: collapse;  width: 100%;}
        td, th {text-align: left;  padding: 10px;}
        .grey_button {background-color:#ebebeb;border-radius:8px;color:black;border:none;letter-spacing:0.03rem;
            font-weight:700;padding: 0.25rem;}
     </style>
  </head>
  <body onload="redirect_if_cookie_is_missing();
                show_user_email_in_navbar();">
  {% include '_navbar.html' %}
    <main>
      <section class="dashboard">
        <div>
          <div class="row">
            <div class="col">
              <div class="chart">
                <div class="chart__header">
                  <a class="title">Projects</a>
                  <span style="float:right;"><a>&nbsp;
                      <a href="{{ url_for('project_setup') }}" class="btn btn--long text-right">New Project</a>
                  </a></span>
                </div>
                  <span class="title"></span>
                <table>
                  <tr style="border-bottom:1px solid black">
                    <th>Project Name</th>
                    <th>Creation Date</th>
                    <th>Last Update</th>
                      <th></th>
                  </tr>
                    {% for project in projects %}
                    <TR>
                       <TD>{{ project.project_name }}</TD>
                       <TD>{{ project.created_at }}</TD>
                       <TD>{{ project.updated_at }}</TD>
                       <TD><span style="float:right;"><a>&nbsp;
                       <a href="{{ url_for('project_setup') }}?project_id={{ project.project_id }}"
                          class="grey_button">Edit Project</a>
                       </a></span></TD>
                    </TR>
                    {% endfor %}
                </table>
                  <span class="subtitle"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
  {% include '_scripts.html' %}
</html>
