<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include '_head.html' %}
    <title>User Registration</title>
  </head>
  <body>
      {% include '_navbar.html' %}
    <main>
      <section class="project-setup two-columns">
        <div class="left">
          <div>
            <form>
              <div class="input-item">
                <label for="userEmail" class="form-label">
                  Email
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="userEmail"
                  placeholder="Enter your mail address"
                  value=""
                  required
                />
              </div>
                <div class="input-item">
                <label for="userPassword" class="form-label">
                  Password
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="userPassword"
                  placeholder="Enter your password"
                  value=""
                  required
                />
              </div>
                <button
                      class="btn btn--long text-right"
                      type="button"
                      aria-disabled="false"
                      onclick="add_user_to_db();"
                    >
                      Register
                </button>
            </form>
              <p id="responseMsg"></p>
          </div>
        </div>
      </section>
    </main>
    <footer class="step-footer">
      <div>
        <div class="step-footer__left"></div>
        <div class="step-footer__center">
          <a
            class="btn btn--medium btn--hollow btn--previous"
            href="{{ url_for('consumer_selection')}}"
            >Previous
          </a>
        </div>
        <div class="step-footer__left"></div>
      </div>
    </footer>
  </body>
{% include '_scripts.html' %}
</html>
