.leaflet-control-trashbin a {
    font-size: 20px;
    line-height: 20px;
    width: 26px;
    height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
}

#search-container {
    width: 100%;
}

#search-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.list_container {
    display: flex;
}

.list {
    border: 1px solid black;
    min-height: 100px;
}

#load_list > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Adjustments for form elements */
.input-item select, .input-group input, .input-group-text, .btn--medium {
    height: 32px; /* Ensures consistent height across elements */
    line-height: 20px; /* Vertical alignment for text inside inputs */
    padding: 0 24px 0 8px; /* Padding to avoid text overlapping the dropdown arrow */
}

.input-group input, .input-group-text {
    padding: 0 8px; /* Adds padding inside input fields and text spans */
}

