.input-item select, .input-group input, .input-group-text {
    height: 32px; /* Adjust this value to your preference */
}

.btn-custom {
    color: black;
    background-color: transparent;
    border-color: transparent;
    justify-content: flex-start;
    text-align: left;
}

.btn-custom:hover, .btn-custom:active, .btn-custom.focus, .btn-custom:focus, .btn-custom.active {
    background-color: transparent;
    border-color: transparent;
}

.btn-custom input[type='radio'] {
    margin-right: 5px;
}

.chart__plot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Take full height of the parent container */
    width: 100%;  /* Take full width of the parent container */
    min-height: 500px; /* Set a minimum height to reserve space and prevent layout shifts */
}
